[submodule "themes/next"]
	path = themes/next
	url = https://github.com/Ereebay/hexo-theme-next.git
[submodule "themes/next6"]
	path = themes/next6
	url = https://github.com/Rorwey/hexo-theme-next.git
